body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    background: url(../images/bg-repeat.jpg) repeat;
    background-size: contain;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .title {
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
    width: 287px;
    line-height: 23px;
}

main .description {
    width: 300px;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    margin-top: 11px;
}

main .formulary {
    width: 340px;
    background-color: #ffffff;
}

main .formulary input {
    width: 298px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #000000;
    padding-left: 10px;
    font-weight: 700;
    font-size: 15px;
}

main .formulary textarea {
    width: 298px;
    height: 100px;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 15px;
    padding: 10px;
}

main .formulary .warning {
    font-size: 15px;
    font-weight: 400;
}